<section id="contact">
  
  <h1 class="section-header">Login</h1>

  <img class="login-img" src="/肉球.png">

  <img class="login-img2" src="/肉球.png">
  
  <div class="contact-wrapper">
    
      <!---------------- 

      CONTACT PAGE LEFT 
    
      -----------------> 
      <% if @error_message %>
        <div class="form-error">
          <%= @error_message %>
        </div>
      <% end %>

    
    <div class="form-horizontal">
      <%= form_tag("/login") do %>
        <div class="form-group">
          <div class="col-sm-12">
            <input type="email" class="form-control" placeholder="EMAIL" name="email" 
            value="<%= @email %>">
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-12">
            <input class="form-control" placeholder="PASSWORD" name="password" 
            value = "<%=@password%>">
          </div>
        </div>
        
        <button class="btn btn-primary send-button"  type="submit" value="SEND">
          <div class="button">
            <i class="fa fa-paper-plane"></i><span class="send-text">SEND</span>
          </div>
        
        </button>   
      <%end%>
    </div>
    
  </div>
  
</section>  

